* {
    font-family: 'Times New Roman', Times, serif;
    margin: 0px;
    padding: 0px;

}

body {
    height: 1920px;
    background-image: url("https://wallpapersok.com/images/hd/peppermint-mint-plant-3vupg215jefc5ipu.jpg");
    background-attachment: fixed;
    
}

/*-------------------------------------------------------*/
/*                 estilização do header                 */
/*-------------------------------------------------------*/

header {
    grid-area: header;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    height: 150px;
    background-color: antiquewhite;
}

.h1mentha {
    font-size: 40px;
    color: black;
}

.phome {
    font-size: 46px;
}


/*-------------------------------------------------------*/
/*                       menu nav                        */
/*-------------------------------------------------------*/

nav {
    grid-area: nav;
    height: auto;
    background-color: black;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;


}

ul {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    list-style: none;
}

li {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

}

a {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    width: 100%;
    height: auto;
}

.aul {
    text-decoration: none;
    position: sticky;
    top: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    width: 100%;
    height: px;
    border: 1px solid white;

}


.aul:hover {
    background-color: gray;
}



/*-------------------------------------------------------*/
/*                         main                          */
/*-------------------------------------------------------*/





main {
    grid-area: main;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: auto;

}


#ulsobre {
    display: flex;
    flex-direction: column;
}

#sobre {
    display: flex;
    flex-direction: column;
    width: auto;    
}

.sobrebanner {
    max-width: 1920px;
    height: 240px;
    display: flex;
    align-items: center;
    justify-content: center;   

}

.textabout
{
    background-color: antiquewhite;
    padding: 15px;
}

/*-------------------------------------------------------*/
/*                       aside                           */
/*-------------------------------------------------------*/

aside {
    grid-area: aside;
}

/*-------------------------------------------------------*/
/*                       footer                          */
/*-------------------------------------------------------*/



footer {
    grid-area: footer;
    display: flex;
}

#asugestão {
    background-color: black;
    color: white;

}

#asugestão:hover {
    background-color: gray;
}




.container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-areas:
        "header header header"
        "nav nav nav"
        "main main main"
        "main main main"
        "footer footer footer";
    ;
}