* 
{
    font-family: 'Times New Roman', Times, serif;
    margin: 0px;
    padding: 0px;

}

/*-------------------------------------------------------*/
/*                 estilização do header                 */
/*-------------------------------------------------------*/

header 
{
    grid-area: header;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    height: 150px;
    background-color: antiquewhite;
}

.h1mentha 
{
    font-size: 40px;
    color: black;
}

.phome 
{
    font-size: 46px;
}


/*-------------------------------------------------------*/
/*                       menu nav                        */
/*-------------------------------------------------------*/

nav 
{
    grid-area: nav;
    height: auto;
    background-color: black;
    align-items: center;
    justify-content: center;

}

ul 
{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    list-style: none;
}

li 
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

}

a 
{
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    width: 100%;
    height: auto;
}

.aul 
{
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    width: 100%;
    height: px;
    border: 1px solid white;

}


.aul:hover 
{
    background-color: gray;
}



/*-------------------------------------------------------*/
/*                         main                          */
/*-------------------------------------------------------*/





main 
{
    grid-area: main;
}

aside 
{
    grid-area: aside;
}


/*-------------------------------------------------------*/
/*                       footer                          */
/*-------------------------------------------------------*/



footer 
{
    grid-area: footer;
    display: flex;
}

#asugestão
{
    background-color: black;
    color: white;
    
}

#asugestão:hover
{
    background-color: gray;
}




.container 
{
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-areas:
        "header header header"
        "nav nav nav"
        ". main aside"
        ". main aside"
        "footer footer footer";
    ;
}