* {
    font-family: 'Times New Roman', Times, serif;
    margin: 0px;
    padding: 0px;

}

body {
    background-image: url("https://wallpapersok.com/images/hd/peppermint-mint-plant-3vupg215jefc5ipu.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;

}


.container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-areas:
        "header header header"
        "nav nav nav"
        "main main main"
        "main main main"
        "footer footer footer";
    ;
}

/*-------------------------------------------------------*/
/*                 estilização do header                 */
/*-------------------------------------------------------*/

header {
    grid-area: header;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    height: 150px;
    background-color: antiquewhite;
}

.h1mentha {
    font-size: 40px;
    color: black;
}

.phome {
    font-size: 46px;
}


/*-------------------------------------------------------*/
/*                       menu nav                        */
/*-------------------------------------------------------*/

nav {
    grid-area: nav;
    height: auto;
    background-color: black;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;


}

.navulist {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    list-style: none;
}

.navli {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

}


.aul {
    text-decoration: none;
    position: sticky;
    top: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    width: 100%;
    height: px;
    border: 1px solid white;

}

.aul:hover {
    background-color: gray;
}

/*-------------------------------------------------------*/
/*                         main                          */
/*-------------------------------------------------------*/

main {
    grid-area: main;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: auto;

}

#sobre {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.sobrebanner {
    max-width: 1920px;
    height: 240px;
    display: flex;
    align-items: center;
    justify-content: center;

}

h2 {
    color: antiquewhite;
    font-size: xx-large;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.726);
}

.background_textabout {
    background-color: antiquewhite;
    width: 100%;
    margin: 0px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.justtextabout {
    align-items: baseline;
    justify-content: center;
    display: flex;
    flex-direction: row;
    gap: 50px;

}

#p1 {
    text-align: justify;
    font-weight: lighter;
    letter-spacing: .05em;
    text-transform: uppercase;
    color: #272727;
    max-width: 435px;
    font-size: 28px;
    margin-bottom: 20px;
    margin-top: 20px;
}

#p1::first-letter {
    font-size: 80px;
    color: green;
    font-weight: bolder;
    float: left;
    margin-right: 5px;
    line-height: 0.8;

}

.pabout {
    font-size: 20px;
    margin-bottom: 20px;
    text-align: justify;
    letter-spacing: .05em;
    text-transform: lowercase;
    color: #272727;
    max-width: 435px;
    font-size: 20px;
    margin-top: 20px;

}



#ulsobre {
    display: flex;
    align-items: left;
    justify-content: left;
    max-width: 435px;
    flex-direction: column;
}

.liabout {
    margin-bottom: 10px;
    text-align: left;
    max-width: 435px;
    font-size: 20px;
    letter-spacing: .05em;
    text-transform: lowercase;
    list-style-position: inside;
}


/*-------------------------------------------------------*/
/*                       aside                           */
/*-------------------------------------------------------*/

aside {
    grid-area: aside;
}

/*-------------------------------------------------------*/
/*                       footer                          */
/*-------------------------------------------------------*/



footer {
    grid-area: footer;
    display: flex;
    flex-direction: column;
    bottom: 0px;
    width: 100%;
    background-color: black;
}

.menthasug {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

#h4sug {
    color: antiquewhite;
    font-size: 28px;
    margin: 10px;
}

#asugestão {
    background-color: black;
    color: antiquewhite;
    font-size: 28px;
    margin: 10px;

}

#asugestão:hover {
    background-color: gray;
}

#psug {
    color: antiquewhite;
    font-size: 20px;
    margin: 10px;
    text-align: center;
}

#copyright {
    color: antiquewhite;
    text-align: center;
    font-size: 20px;
    margin: 4px;
    bottom: 0px;
}




/*-------------------------------------------------------*/
/*                       media's                          */
/*-------------------------------------------------------*/


@media screen and (min-width: 1024px) {
    body {
        background-image: url("/img/img04.jpg");
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .background_textabout {
        flex-direction: row;
        align-items: baseline;
        gap: 30px;
    }


}

@media screen and (max-width: 430px) {

    * {
        max-width: 430px;
    }

    body {
        max-width: 430px;
    }

    header {
        max-width: 430px;
    }

    .h1mentha,
    .phome {
        font-size: 28px;
    }

    nav {
        max-width: 430px;
    }

    .navulist {
        max-width: 430px;
    }

    .navli {
        max-width: 430px;
    }

    .aul {
        font-size: 16px;
    }

    .sobrebanner {
        max-width: 430px;
        max-height: 150px;
    }

    h2 {
        font-size: 24px;
    }

    .background_textabout {
        flex-direction: column;
    }

    .justtextabout {
        max-width: 430px;
        margin: 20px;
    }

    #p1 {
        font-size: 20px;
    }

    .pabout {
        margin: 20px;
        font-size: 18px;
    }

    .liabout {
        font-size: 18px;
        margin-left: 20px;
        margin-right: 20px;
    }

}