* {
    font-family: 'Times New Roman', Times, serif;
    margin: 0px;
    padding: 0px;

}

body {
    background-image: url("https://wallpapersok.com/images/hd/peppermint-mint-plant-3vupg215jefc5ipu.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /* Garante que o body ocupe toda a altura da tela */
    margin: 0;
}


.container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-areas:
        "header header header"
        "nav nav nav"
        "main main main"
        "main main main"
        "footer footer footer";
    ;

    flex: 1;
    /* Faz o container expandir e empurrar o footer para baixo */
    grid-template-rows: auto auto 1fr auto;
}

/*-------------------------------------------------------*/
/*                 estilização do header                 */
/*-------------------------------------------------------*/

header {
    grid-area: header;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    height: 150px;
    background-color: antiquewhite;
}

.h1mentha {
    font-size: 40px;
    color: black;
}

.phome {
    font-size: 46px;
}

#h1a {
    color: black;
    text-decoration: none;
}



/*-------------------------------------------------------*/
/*                       menu nav                        */
/*-------------------------------------------------------*/

nav {
    grid-area: nav;
    height: auto;
    background-color: black;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    z-index: 1000;



}

.navulist {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    list-style: none;
}

.navli {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

}


.aul {
    text-decoration: none;
    position: sticky;
    top: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    width: 100%;
    border: 1px solid white;

}

.aul:hover {
    background-color: gray;
}

/*-------------------------------------------------------*/
/*                         main                          */
/*-------------------------------------------------------*/

main {
    grid-area: main;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: auto;

}

#sobre {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.sobrebanner {
    max-width: 1920px;
    height: 280px;
    display: flex;
    align-items: center;
    justify-content: center;

}

h2 {
    color: antiquewhite;
    font-size: xx-large;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.726);
}

.containner {
    width: 100%;
    background: antiquewhite;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
}

.containner h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
    margin-top: 20px;
}

.bothforms {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: auto;
}

#form-login,
#form-cad {
    background: antiquewhite;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;

}

#form-login label,
#form-cad label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}

#form-login input,
#form-cad input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

#form-login button,
#form-cad button {
    width: 100%;
    padding: 10px;
    background: #4CAF50;
    color: antiquewhite;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

#form-login button:hover,
#form-cad button:hover {
    background: #45a049;
}


.cad-btn {
    width: 85%;
}

#btn-cad {
    width: 100%;
    padding: 10px;
    background: #2196F3;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 10px;
}

#btn-cad:hover {
    background: #0b7dda;
}

.aparecer-cad {
    display: none;
}

#form-cad label {
    color: #333;
    margin-top: 10px;
}

#form-cad input {
    border: 2px solid #ddd;
    padding: 8px;
}

#form-cad button {
    background: mediumslateblue;
    margin-top: 10px;
}

#form-cad button:hover {
    background: rgb(151, 138, 223);
}

/*-------------------------------------------------------*/
/*                       aside                           */
/*-------------------------------------------------------*/

aside {
    grid-area: aside;
}

/*-------------------------------------------------------*/
/*                       footer                          */
/*-------------------------------------------------------*/



footer {
    grid-area: footer;
    display: flex;
    flex-direction: column;
    bottom: 0px;
    width: 100%;
    background-color: black;
    gap: 20px;

    padding: 20px 0;
    margin-top: auto;
}



.menthasug {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: 15px;
    margin-right: 15px;


}

#h4sug {
    color: antiquewhite;
    font-size: 28px;
    margin: 10px;
}

#asugestão {
    background-color: black;
    color: antiquewhite;
    font-size: 28px;
    margin: 10px;
    padding: 5px;


}

#asugestão:hover {
    background-color: gray;
    transition: 1s;
    font-size: 30px;
    border-radius: 15px;

}

#psug {
    color: antiquewhite;
    font-size: 16px;
    text-align: center;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 15px;
}

#copyright {
    color: grey;
    font-weight: lighter;
    text-align: center;
    font-size: 14px;
    margin-left: 15px;
    margin-right: 15px;
    bottom: 0px;
    margin-bottom: 15px;

}




/*-------------------------------------------------------*/
/*                       media's                         */
/*-------------------------------------------------------*/


@media screen and (min-width: 1024px) {
    body {
        background-image: url("../img/img04.jpg");
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .background_textabout {
        flex-direction: row;
        align-items: baseline;
        gap: 30px;
    }


    .bothforms {
        max-width: 430px;
    }



}

@media screen and (max-width: 430px) {

    * {
        max-width: 430px;
    }

    body {
        max-width: 430px;
    }

    header {
        max-width: 430px;
    }

    .h1mentha,
    .phome {
        font-size: 28px;
    }

    nav {
        max-width: 430px;
    }

    .navulist {
        max-width: 430px;
    }

    .navli {
        max-width: 430px;
    }

    .aul {
        font-size: 16px;
    }

    .sobrebanner {
        max-width: 430px;
        max-height: 150px;
    }

    h2 {
        font-size: 24px;
    }


    .background_textabout {
        flex-direction: column;
    }

    .justtextabout {
        max-width: 430px;
        margin: 20px;
    }

    #p1 {
        font-size: 20px;
    }

    .pabout {
        margin: 20px;
        font-size: 18px;
    }

    .liabout {
        font-size: 18px;
        margin-left: 20px;
        margin-right: 20px;
    }

}